footer {
    background-color: #212EA0;
    color: white;
    padding-top: 8px;
    transition: all 500ms ease;
    ;
}

.footer-container .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
}

.footer-socials {
    width: fit-content;
    display: flex;
    gap: 1.5rem;
    margin: 3rem auto 4rem;

}


.footer-socials a:hover {
    opacity: 0.7;
    transform: translateY(-0.5rem);
}

/* media query */

@media (max-width: 600px) {
    .footer {
        display: block;
        text-align: center;
    }

    .footer ul li {
        margin: 10px;
    }

    .footer ul {
        margin-top: 10px;
    }
}